%h3
  Try typing the word 'post' into each of these text fields to see autocomplete and autosuggest with Solr examples.
  = autocomplete_text_field( "post", "text", "http://127.0.0.1:8982/solr/", "post_text").html_safe
